.side-bar .MuiDrawer-paper {
	width: 70px;
	background-color: black;
	z-index: -1;
}
main {
	flex-grow: 1;
	padding: 24px;
	margin-top: 100px;
}
.container {
	max-width: 1170px;
	margin: 0 auto;
}
header {
	background: #ffffff !important;
	color: black !important;
}
.side-bar .MuiListItemIcon-root {
	color: #e7e7e7;
}
.vertical-middle {
	align-items: center;
}
